<div class="user_management" >
  <h2 id="user" ><span style="background-color: orangered;"> USER MANAGEMENT </span></h2>
  <div class="example-container mat-elevation-z8">
    <mat-table #table matSort [dataSource]="dataSource" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- user Column -->
      <ng-container matColumnDef="User_Detail">
        <mat-header-cell  *matHeaderCellDef> User Details </mat-header-cell>
        <mat-cell *matCellDef="let element; index as i "><span  class="user"> {{element.User_Detail.Name}} <br> {{element.User_Detail.id}} </span></mat-cell>

      </ng-container>

      <!-- location Column -->
      <ng-container matColumnDef="Location">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Location </mat-header-cell>
        <mat-cell *matCellDef="let element; index as i "> {{element.Location}} </mat-cell>
      </ng-container>

      <!-- battery Column -->
      <ng-container matColumnDef="Battery_Details">
        <mat-header-cell  *matHeaderCellDef> Battery_Details </mat-header-cell>
        <mat-cell *matCellDef="let element; index as i "> <span class="battery">{{element.Battery_Details.Vehicle_Type}} <br>
          {{element.Battery_Details.Battery_Percent}} <br> {{element.Battery_Details.Battery_id}}</span> </mat-cell>
      </ng-container>

      <!-- action coloumn -->
      <ng-container matColumnDef="Action">
        <mat-header-cell  *matHeaderCellDef> Action </mat-header-cell>
        <!-- <mat-cell *matCellDef="let element"> {{element.Action}} </mat-cell> -->
        <mat-cell *matCellDef="let element; index as i ">
          <button (click)="crossbutton(i)">
            <img class="crossbutton" src="https://www.kindpng.com/picc/m/504-5042965_close-wrong-cross-black-png-transparent-png.png" alt="cross button"></button>
           <button (click)="button()" ><img class="crossbutton" src="https://www.pngmart.com/files/17/Wrong-Cross-PNG-Clipart.png" alt="button"></button>  </mat-cell>
      </ng-container>

      <!-- rating coloumn -->
      <ng-container matColumnDef="Rating">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Rating</mat-header-cell>
        <mat-cell *matCellDef="let element; index as i ">

          <mat-icon *ngFor="let star of maxRatingArr; let index = index"
            (mouseenter)="handlemouseenter(index)"
            (mouseleave)="handlemouseleave()" 
            (click)="Rating(index)"
            [ngClass]="{checked:selectedstar > index}"
            > star</mat-icon>
          
  
          
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
  </div>
</div>