<div class="user_management">
  <h2 id="user"><span style="background-color: orangered;"> USER MANAGEMENT </span></h2>
  <div class="example-container mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource" matSort>

      <!-- User Column -->
      <ng-container matColumnDef="User_Detail">
        <th mat-header-cell *matHeaderCellDef> User Details </th>
        <td mat-cell *matCellDef="let element">{{ element.User_Detail?.Name }} <br>{{ element.User_Detail.id }}</td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let element">{{ element.Location }}</td>
      </ng-container>

      <!-- Battery Column -->
      <ng-container matColumnDef="Battery_Details">
        <th mat-header-cell *matHeaderCellDef> Battery Details </th>
        <td mat-cell *matCellDef="let element">{{ element.Battery_Details?.Vehicle_Type }} <br>
          {{ element.Battery_Details?.Battery_Percent }} <br> {{ element.Battery_Details?.Battery_id }}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="crossbutton(element)"><mat-icon>delete</mat-icon></button>
          <button (click)="button()"><mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>


      <ng-container matColumnDef="Rating">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngFor="let icon of maxRatingArr; let i = index" (click)="setRating(element, i)" class="star-icon"
             [ngClass]="{'star-filled': i < element.Rating, 'star-empty': i >= element.Rating}">
            star
          </mat-icon>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>
</div>
